.header{
    display: flex;
    flex-direction: column;

}

.header_title{
    font-family: "Inter", "Arial", sans-serif;

}

@media  screen and (max-width: 425px) {
    .header{
        padding: 0;
    }
    
}