.header{
    display: flex;
    flex-direction: column;
    max-height: 800px;
    box-sizing: border-box;
    padding: 30px 80px 40px;

}

.header_title{
    font-family: "Inter", "Arial", sans-serif;

}

@media  screen and (max-width: 425px) {
    .header{
        padding: 0;
    }
    
}