.hustle{
    height: 100%;
}

.project-container{
    height: 100%;
}

.project-wrapper{
    display: flex;
    height: 100%;
}

.project-list{
    list-style-type: none;
    column-count: 3;
    height: 100%;
}

.projects{
    margin: 10px;
}

.project{
    color: white;
    display: flex;
    gap: 20px;
    align-items: end;
    padding-bottom: 30px;
    text-decoration: none;
}

.image{
    height: 15vh;
    border-radius: 8px;
}

.image:hover{
    transform: scale(1.2);
}